.loginHeader {
  margin-top: 24px;
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 16px;
  }
  p {
    font-size: 1em;
  }
}

.loginForm {
  margin: 0 auto;
}
.formItem {
  margin-bottom: 16px;

}

.submitBtn {
  margin: 0 auto;
  padding: 24px 0;
  font-size: 1.6em;
}

.subLink {
  margin: 0 auto;
  text-align: center;
}